@model LinkIndexVM

<div class="my-5 d-flex justify-content-center ">
    <form method="get" class="w-50">        
        <div class="mb-3">
            <label class="form-label">Enter your shortened link</label>
            <input asp-for="link" type="text" class="form-control">
        </div>        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>